<!-- <div class="grid">
    <div class="col-12 md:col-12 lg:col-6 grid grid-nogutter">
        <div class="shadow-1 col">dg</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3  grid grid-nogutter">
        <div class="shadow-1 col">dg</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3  grid grid-nogutter">
        <div class="shadow-1 col">dg</div>
    </div>
</div> -->

<form class="search">
    <input type="text" placeholder="Search" class="searchInput" />
    <button type="button" class="searchButton">
        <i class="pi pi-search"></i>
    </button>
</form>

<div class="custom_fx_metric_menu">
<ul class="parent_section">
    <li>list 1
        <ul class="child_section">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
        </ul>
    </li>
    <li>list 2</li>
    <li>list 3
        <ul class="child_section">
            <li>item 1</li>
            <li>item 2</li>
        </ul>
    </li>
    <li>list 4</li>
    <li>list 5</li>
    <li>list 5</li>
    <li>list 5</li>
    <li>list 5</li>
    <li>list 5</li>
    <li>list 5</li>
    <li>list 5</li>
    <li>list 5
        <ul class="child_section">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
        </ul>
    </li>

</ul>
</div>


<!-- <div class="w-100-p p-grid custom_fx_metric_menu custom_fx_overlay " >
    <div class="width-200 border-all fxListOptions parent_section max-height-200  border-4">
            <p class="bottom-border border-4">List 1</p>
            <p class="bottom-border border-4">List 2</p>
            <p class="bottom-border border-4">List 3</p>
            <p class="bottom-border border-4">List 4</p>
            <p class="bottom-border border-4">List 5</p>
    </div>
    <div class="width-200 max-height-200 fxListOptions child_section" >
        <p>Suyash</p>
        <p>Shikhar</p>
        <p>Aun</p>
        <p>Shraddha</p>
    </div>
</div> -->