/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
html, body { height: 100%; }
body, .p-component{ margin: 0; font-family: 'Poppins', sans-serif;}
@import 'primeflex/primeflex.scss';

.p-button.p-button-sm{
font-size: 0.775rem;
padding: 0.3rem 1rem;
}
.mat-mdc-selection-list{
    width: 300px;
    max-height: 200px;
    overflow: auto;
}
/* styles.css or styles.scss */

/* Override the focus styles for PrimeNG components */
.p-inputtext:focus,
.p-inputtextarea:focus,
.p-dropdown:focus,
.p-autocomplete:focus,
.p-calendar:focus,
.p-checkbox:focus,
.p-radiobutton:focus,
.p-slider:focus,
.p-togglebutton:focus,
.p-listbox:focus,
.p-orderlist:focus,
.p-picklist:focus,
.p-chips:focus,
.p-spinner:focus,
.p-inputswitch:focus,
.p-inputmask:focus,
.p-password:focus,
.p-inputnumber:focus,
.p-colorpicker:focus,
.p-editor:focus,
.p-fileupload:focus,
.p-button:focus,
.p-splitbutton:focus,
.p-menubar:focus,
.p-breadcrumb:focus,
.p-tabview:focus,
.p-tabpanel:focus,
.p-accordion:focus,
.p-accordiontab:focus,
.p-fieldset:focus,
.p-scrollpanel:focus,
.p-lightbox:focus,
.p-overlaypanel:focus,
.p-sidebar:focus,
.p-dialog:focus,
.p-confirmDialog:focus,
.p-tooltip:focus,
.p-toast:focus,
.p-toolbar:focus,
.p-panel:focus,
.p-carousel:focus,
.p-dataview:focus,
.p-datatable:focus,
.p-table:focus,
.p-treetable:focus,
.p-treetable .p-treetable-togglable-icon:focus,
.p-tree:focus,
.p-tree .p-treenode-toggler:focus,
.p-tree .p-treenode-label:focus,
.p-orderlist .p-orderlist-list:focus,
.p-orderlist .p-orderlist-controls:focus,
.p-orderlist .p-orderlist-controls button:focus,
.p-picklist .p-picklist-list:focus,
.p-picklist .p-picklist-buttons:focus,
.p-picklist .p-picklist-buttons button:focus,
.p-chips .p-chips-input:focus,
.p-chips .p-chips-token:focus,
.p-chips .p-chips-token-remove:focus,
.p-chips .p-chips-token-icon:focus,
.p-dialog .p-dialog-titlebar-icon:focus,
.p-overlaypanel .p-overlaypanel-close:focus,
.p-sidebar .p-sidebar-close:focus,
.p-carousel .p-carousel-content:focus,
.p-carousel .p-carousel-header:focus,
.p-carousel .p-carousel-dots:focus,
.p-lightbox .p-lightbox-caption:focus,
.p-menuitem:focus,
.p-tieredmenu:focus,
.p-submenu:focus,
.p-contextmenu:focus,
.p-steps:focus,
.p-tabmenu:focus,
.p-menubar .p-menuitem:focus,
.p-breadcrumb .p-breadcrumb-home:focus,
.p-breadcrumb .p-breadcrumb-chevron:focus,
.p-breadcrumb .p-breadcrumb-text:focus,
.p-buttonbar .p-button:focus,
.p-fieldset-legend:focus,
.p-ripple:focus,
.p-ripple-active,
a:focus {
  outline: none !important;
  box-shadow: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



















































































// body{
//     background-color: var(--surface-100);
// }

