<!-- <p>home works!</p> -->
<button mat-button>Click me</button>
<div class="example-button-row">
    <a href="#" routerLink="about" mat-flat-button>Basic</a>
    <button routerLink="about" mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>

<router-outlet></router-outlet>
  